.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
  }
/*background-image: url("../../assets/images/Login1.jpg"
      );*/
  .background{
      
      background-repeat: repeat-y;
      background-position: center;
      text-align: center;
      height: 10cm;
  }

  .form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  .rows{
    width:100%;
    display:block;
  
  }
  .column{
      width:100%;
      display:inline-block;
      
  }
  .theLabels{
    
    width:30%;
    float:left;
  }
  .theInputs{
    
  
    width:60%;
    float:right;
  }

  #formContainer{
    width:40%;
    margin:auto;
  }
  #formC{
    width:100%;
  }
 
