<section class ="background"><!-- class="vh-100 gradient-custom"-->
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;opacity: 0.8;">
            <div class="card-body p-5 text-center">
  
                <div id="formContainer">
                    <br><br>
                <form [formGroup]="form" class="form" id="formC" (ngSubmit)="ff.form.valid ; ff.resetForm()" #ff="ngForm" >
                    
                    <div class="rows">
                    <div class="column">
                      
                        <mat-form-field>
                            <mat-label>Choose your gender</mat-label>
                            <mat-select  id="typegender" 
                           
                              formControlName="gender" 
                                >
                              <mat-option value="Men">Men</mat-option>                             
                              <mat-option value="Women">Women</mat-option>
                            </mat-select>
                          </mat-form-field>
                    
        
                  
                     
                      <label class="form-label" for="typegender">Age</label>               
                    </div>
      
                    <mat-form-field>
                     

                           <mat-label>Age</mat-label>
                           <input type="number" formControlName="age"  matInput placeholder="put your age">
                         
                     
                      </mat-form-field>
                   
                 
                   
                    <button class="column" style="border-radius: 8px;background-color: aqua;" type="button" (click)="onSubmit()">Result</button>
                </div>

               <h3>{{error}}</h3> 
                  </form>
  
              </div>
            
  
             <br>
             <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>