<h1 style="text-align: center;">Welcome to My Doctor AI website</h1>
<p style="margin: 10%;">
    The AI Doctor Website. Imagine having the power to access accurate medical information, receive preliminary diagnoses, and personalized recommendations, all at your fingertips, anytime, anywhere. <br><br>
    With advancements in artificial intelligence, we are witnessing the emergence of a new era in healthcare, where technology and medical expertise converge to create an unparalleled healthcare experience. <br><br>
    In this presentation, we will explore the key features, benefits, and potential of an AI Doctor Website, showcasing its ability to empower individuals and enhance the accessibility and efficiency of healthcare services.<br><br>
     Let us embark on this journey of discovery and witness the incredible potential of AI in transforming the way we approach healthcare.
    </p>
<button style="left:45%" mat-raised-button (click)="next()">Start</button>